$def with(todos)
$:render.header()

        <div class="box">

            <div class="box todos">
                <h2 class="box">待办事项</h2>
                <ul>
                    $for todo in todos:
                        $if todo.finished == 1:
                            $ status = 'class="finished"'
                        $else:
                            $ status = ''
                        <li $:status>
                            $if todo.finished == 0:
                                <img  src="/static/images/doing.gif" width="11px"; height="11px";/>
                                &nbsp;
                                $:todo.title.replace('(1)','<img src="/static/images/face/1.gif"/>')
                                &nbsp;
                                <a href="/todo/$todo.id/finish?status=yes">完成</a>,
                            $if todo.finished == 1:
                                <img  src="$config.static/images/ok.gif" />
                                &nbsp;
                                <del>$todo.title</del>
                                &nbsp;
                                <a href="/todo/$todo.id/finish?status=no">恢复</a>,
                            <a href="/todo/$todo.id/edit">修改</a>,
                            <a href="/todo/$todo.id/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        </li>
                </ul>
            </div>

            <div class="box post">
                <h2>新增</h2>
                $for i in range(1,49):
                        <img src="/static/images/face/$(i).gif" />
                <form action="/todo/new" method="post" id="post_new">
                    <p><input type="text" name="title" class="long_txt" /></p>
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>

$:render.foot()
