.box textarea{
	width: 96% !important;
	height: 200px !important;
}

.todos ul li{
   list-style-type:none; 
   margin-bottom:6px; 
   padding-bottom:6px; 
   border-bottom:1px dotted #a2a2a2;
}

.page { 
    width:38%; 
    margin:10px auto;
    margin-top: 0px!important; 
    background:#FFF;
    padding:0px 20px; 
    border:1px solid #CCC; 
    border-radius:5px;
}

.box{
  margin:10px auto;
  border:1px solid #CCC; 
  border-radius:5px;
  padding:20px 20px;
}
.headline{
  width: 100%;
  background: #222222;
  height: 30px;
}

body{
  background: #4890CE;
}

.headline a{
  font-size: 18px;
  padding-right: 10px;
  color: #545652;
  text-decoration: none;
  
}

.headline a:hover{
  font-size: 18px;
  padding-right: 10px;
  color: #FFF;
  text-decoration: none;
  
}

.headline header{
  padding-top: 5px;
}